<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>

		</pipelines>
		<contentSearch>
			<indexConfigurations>
				<defaultSolrIndexConfiguration>
					<fieldMap>
						<typeMatches>
							<typeMatch type="System.Collections.Generic.List`1[Sitecore.ContentSearch.Data.Coordinate, Sitecore.ContentSearch.Data]" typeName="coordinateCollection" fieldNameFormat="{0}_locations_rpt" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider"/>
						</typeMatches>
					</fieldMap>
					<documentOptions>
						<fields hint="raw:AddComputedIndexField">
							<!--
							
							<field type="" fieldName="" returnType="coordinateCollection"/> -->
						</fields>
					</documentOptions>
				</defaultSolrIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>