<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<contentSearch.PopulateSolrSchema>
				<processor type="DevsWeb.Features.Search.SolrSchema.PopulateDynamicField,DevsWeb.Features.Search"
				           patch:before="processor[@type='Sitecore.ContentSearch.SolrProvider.Pipelines.PopulateSolrSchema.ReInitializeIndex, Sitecore.ContentSearch.SolrProvider']">
					<param desc="fieldName">*_locations_rpt</param>
					<param desc="fieldType">location_rpt</param>
					<param desc="multiValued">true</param>
				</processor>
			</contentSearch.PopulateSolrSchema>
		</pipelines>
	</sitecore>
</configuration>